# 基本シカトファイル形式
**/*.ini
**/*.wlf
**/*.qdb
**/*.qtl
**/*.o
**/*Lib/
**/db/
**/incremental_db/
**/*.qsys_edit
**/*.qsys
**/*.sopcinfo
**/ips/
**/output_files/
**/simulation/
**/*.qpf
**/*.qsf
**/*.qws
**/*.vstf
transcript
# 未完成実装環境
.devcontainer/*
.docker/*
.vscode/*